.add-bar-background {
    height: 100px;
    width: 600px;
    background-color: #f1f1f1;
    border-top-right-radius: 24px;
    border-top-left-radius: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}


.add-button {
    width: 100px;
    height: 54px;
    border-width: 0px;
    background-color: #05D7A0;
    color: #fff;
    border-top-right-radius: 14px;
    border-bottom-right-radius: 14px;
    font-weight: 700;
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
}

.add-input {
    width: 426px;
    height: 50px;
    background-color: #fff;
    border: 1px solid #fff;
    border-top-left-radius: 14px;
    border-bottom-left-radius: 14px;
    color: #cacaca;
    padding-left: 20px;
    font-size: 14px;
    font-weight: 400;
    font-family: 'Poppins', sans-serif;
}